<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css"/>
<head>
    <meta charset="UTF-8">
    <title>Редактирование кампании</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <form class="container justify-content-start">
            <div class="caption"><h2>Редактирование кампании <span th:text="${campaignDto.name}"></span></h2></div>
            <button class="navbar-toggler" type="button">
                <a href="../home.html" th:href="@{/src/main/resources}">На главную</a></button>
            <button type="button" class="btn btn-light">
                <a href="../info.html" th:href="@{/info}">Обе SQL Таблицы</a></button>
            <button type="button" class="btn btn-light">
                <a href="../ads.html" th:href="@{/ads}">Обьявления</a></button>
            <button type="button" class="btn btn-light">
                <a class="link" href="../campaigns.html" th:href="@{/campaigns}">Кампании</a></button>
        </form>
    </nav>
</header>
<div class="container justify-content-start">
    <form method="post">
        <input type="text" th:value="${campaignDto.getName()}" name="name" placeholder="Введите название кампании"
               class="form-control">
        <input type="text" th:value="${campaignDto.getStartDate}" name="startDate" placeholder="Введите дату начала"
               class="form-control">
        <input type="text" th:value="${campaignDto.getEndDate}" name="endDate" placeholder="Введите дату окончания"
               class="form-control">
        <button type="submit" class="btn btn-success">Редактировать</button>
    </form>
</div>
</body>
</html>