<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="css\style.css" />
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <form class="container justify-content-start">
            <button type="button" class="btn btn-light">
                <a href="../info.html" th:href="@{/info}">Обе SQL Таблицы</a></button>
            <button type="button" class="btn btn-light">
                <a href="../ads.html" th:href="@{/ads}">Обьявления</a></button>
            <button type="button" class="btn btn-light">
                <a class="link" href="../campaigns.html" th:href="@{/campaigns}">Кампании</a></button>
        </form>
    </nav>
</header>
<form class="container justify-content-start">
    <h2 >Таблица обьявлений созданная вручную</h2>
<table class="table">
    <tr>
        <th>name</th>
        <th>asset_url</th>
    </tr>
    <tr>
        <td>sony christmas ad</td>
        <td>
            <a href="https://www.youtube.com/sony_ad"
            >https://www.youtube.com/sony_ad</a
            >
        </td>
    </tr>
    <tr>
        <td>sony BF ad1</td>
        <td>
            <a href="https://www.youtube.com/sony_christmas"
            >https://www.youtube.com/sony_christmas</a
            >
        </td>
    </tr>
    <tr>
        <td>sony BF ad2</td>
        <td>
            <a href="https://www.youtube.com/sony_christmas"
            >https://www.youtube.com/sony_christmas</a
            >
        </td>
    </tr>
    <tr>
        <td>sony BF ad3</td>
        <td>
            <a href="https://www.youtube.com/sony_christmas"
            >https://www.youtube.com/sony_christmas</a
            >
        </td>
    </tr>
    <tr>
        <td>panasonic lucky week ad1</td>
        <td>
            <a href="https://www.youtube.com/panasonic_ad"
            >https://www.youtube.com/panasonic_ad</a
            >
        </td>
    </tr>
    <tr>
        <td>panasonic lucky week ad2</td>
        <td>
            <a href="https://www.youtube.com/panasonic_ad"
            >https://www.youtube.com/panasonic_ad</a
            >
        </td>
    </tr>
    <tr>
        <td>aiwa BF ad</td>
        <td>
            <a href="https://www.youtube.com/aiwa_ad"
            >https://www.youtube.com/aiwa_ad</a
            >
        </td>
    </tr>
    <tr>
        <td>asus EotW ad1</td>
        <td>
            <a href="https://www.youtube.com/asus_christmas"
            >https://www.youtube.com/asus_christmas</a
            >
        </td>
    </tr>
    <tr>
        <td>asus EotW ad2</td>
        <td>
            <a href="https://www.youtube.com/asus_christmas"
            >https://www.youtube.com/asus_christmas</a
            >
        </td>
    </tr>
    <tr>
        <td>sven BF ad1</td>
        <td>
            <a href="https://www.youtube.com/sven_birth"
            >https://www.youtube.com/sven_birth</a
            >
        </td>
    </tr>
    <tr>
        <td>sven BF ad2</td>
        <td>
            <a href="https://www.youtube.com/sven_birth"
            >https://www.youtube.com/sven_birth</a
            >
        </td>
    </tr>
    <tr>
        <td>edifier HH ad</td>
        <td>
            <a href="https://www.youtube.com/edifier_ad"
            >https://www.youtube.com/edifier_ad</a
            >
        </td>
    </tr>
    <tr>
        <td>samsung BF ad1</td>
        <td>
            <a href="https://www.youtube.com/samsung_birth"
            >https://www.youtube.com/samsung_birth</a
            >
        </td>
    </tr>
    <tr>
        <td>samsung BF ad2</td>
        <td>
            <a href="https://www.youtube.com/samsung_birth"
            >https://www.youtube.com/samsung_birth</a
            >
        </td>
    </tr>
    <tr>
        <td>samsung BF ad3</td>
        <td>
            <a href="https://www.youtube.com/samsung_birth"
            >https://www.youtube.com/samsung_birth</a
            >
        </td>
    </tr>
    <tr>
        <td>samsung BF ad4</td>
        <td>
            <a href="https://www.youtube.com/samsung_birth"
            >https://www.youtube.com/samsung_birth</a
            >
        </td>
    </tr>
    <tr>
        <td>samsung BF ad5</td>
        <td>
            <a href="https://www.youtube.com/samsung_birth"
            >https://www.youtube.com/samsung_birth</a
            >
        </td>
    </tr>
    <tr>
        <td>lg fdtd ad1</td>
        <td>
            <a href="https://www.youtube.com/lg_ad"
            >https://www.youtube.com/lg_ad</a
            >
        </td>
    </tr>
    <tr>
        <td>lg fdtd ad2</td>
        <td>
            <a href="https://www.youtube.com/lg_ad"
            >https://www.youtube.com/lg_ad</a
            >
        </td>
    </tr>
    <tr>
        <td>lg fdtd ad3</td>
        <td>
            <a href="https://www.youtube.com/lg_ad"
            >https://www.youtube.com/lg_ad</a
            >
        </td>
    </tr>
    <tr>
        <td>lg fdtd ad4</td>
        <td>
            <a href="https://www.youtube.com/lg_newyear"
            >https://www.youtube.com/lg_newyear</a
            >
        </td>
    </tr>
</table>
</form>
</body>
</html>
