<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css"/>
<head>
    <meta charset="UTF-8">
    <title>Создание обьявления</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <form class="container justify-content-start">
            <button class="navbar-toggler" type="button">
                <a href="../home.html" th:href="@{/}">На главную</a></button>
            <button type="button" class="btn btn-light">
                <a href="../info.html" th:href="@{/info}">Обе SQL Таблицы</a></button>
            <button type="button" class="btn btn-light">
                <a href="../ads.html" th:href="@{/ads}">Обьявления</a></button>
            <button type="button" class="btn btn-light">
                <a class="link" href="../campaigns.html" th:href="@{/campaigns}">Кампании</a></button>
        </form>
    </nav>
</header>
<div class="container justify-content-start">
    <h3>Добавление обьявления</h3>
    <form  action="/ads/add" method="post">
        <input type="text" name="name" placeholder="Введите название обьявления" class="form-control">
        <input type="text" name="assetUrl" placeholder="Введите ссылку на рекламу" class="form-control">
        <input type="text" name="campaignId" placeholder="Введите id кампании в которой будет создано обьявление" class="form-control">
        <button type="submit" class="btn btn-success">Добавить обьявление</button>
    </form>
</div>
</body>
</html>