<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css"/>
<head>
    <meta charset="UTF-8">
    <title th:text="${#strings.capitalize(campaign.name)}"></title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <form class="container justify-content-start">
            <div class="caption">
                <h2 th:text="${#strings.capitalize(campaign.name)}"></h2></div>
            <button class="navbar-toggler" type="button">
                <a href="../home.html" th:href="@{/}">На главную</a></button>
            <button ctype="button" class="btn btn-light">
                <a href="../info.html" th:href="@{/info}">Обе SQL Таблицы</a></button>
            <button type="button" class="btn btn-light">
                <a href="../ads.html" th:href="@{/ads}">Обьявления</a></button>
            <button type="button" class="btn btn-light">
                <a class="link" href="../campaigns.html" th:href="@{/campaigns}">Кампании</a></button>
        </form>
    </nav>
</header>
<div class="container">
    <table class="table">
        <tr>
            <th>id</th>
            <th>status</th>
            <th>start date</th>
            <th>end date</th>
            <th>ads</th>
            <th colspan="3">Options</th>
        </tr>
        <td th:text="${campaign.id}">id</td>
        <td th:text="${campaign.status}">status</td>
        <td class="cell" th:text="${campaign.startDate}">start_date</td>
        <td class="cell" th:text="${campaign.endDate}">end_date</td>
        <td th:text="${campaign.ads.size()}">ads</td>
        <td><a th:href="'/campaigns/'+${campaign.id}+'/edit'">Редактировать</a></td>
        <td>
            <button class="btn btn-success">
                <a class="p-2 text-light" th:href="'/campaigns/'+${campaign.id}+'/add-ad'">Добавить обьявление</a>
            </button>
        </td>
        <td>
            <form th:action="'/campaigns/'+${campaign.id}+'/remove'" method="post">
                <button type="submit" class="btn btn-warning">Удалить кампанию</button>
            </form>
        </td>
        </tr>
    </table>
</div>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div>
            <h3>&nbsp Обьявления</h3></div>
    </nav>
    <table class="table">
        <tr th:each="ad : ${campaign.ads}">
            <td th:text="${ad.name}"></td>
        </tr>
    </table>
</div>
</body>
</html>